// $fontFamily-Open-Sans: "Open Sans", sans-serif;
$fontFamily-Open-Sans: "Open Sans", sans-serif;
// $color-cyan-blue: #69b9ff;
$color-cyan-blue: #69b9ff;
// $text-transform-uppercase: uppercase;
$text-transform-uppercase: uppercase;
// $text-transform-uppercase2: none;
$text-transform-none: none;

$color-white: #fff;

$text-align: center;

$color-light-cyan-blue: #92a0ad;

$color-blue-magenta: #707078;

$font-weight: lighter;

// $color-white: #fff;
// $myTextalign: center;
// $myBgcolor-1: #92a0ad;
// $myBgcolor-2: #707078;
// $fontWeight: lighter;
