body {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 15px;
}

.container img {
  margin: 50px auto;
  width: 100%;
  margin-bottom: 0;
}

@media only screen and (max-width: 600px) {
  .container-top .justify ul {
    display: none;
  }
}

@media only screen and (min-width: 600px) {
  .container-top .justify {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .container-top .justify i {
    display: none;
  }
  .container-top .justify ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    list-style: none;
    padding: 0;
  }
  .container-top .justify ul li {
    margin-left: 40px;
    font-weight: bolder;
  }
  .container-top .justify ul li:first-of-type {
    color: #69b9ff;
  }
}

header .justify {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

header .justify h1 {
  color: #69b9ff;
  letter-spacing: 5px;
  font-weight: lighter;
  font-size: 22px;
  text-transform: uppercase;
}

header .justify i {
  color: #6a859c;
}

.header-bottom {
  background: url(../images/startrails.jpg) no-repeat center;
  padding: 5% 0 18% 0;
  text-align: center;
  border-bottom: 3px solid #69b9ff;
}

.header-bottom h1 {
  font-weight: lighter;
  color: #fff;
  font-size: 50px;
  margin-bottom: 0;
  text-transform: uppercase;
}

.header-bottom p:first-of-type {
  font-weight: lighter;
  word-spacing: 5px;
  color: #69b9ff;
  font-size: 18px;
  margin-bottom: 0;
}

.header-bottom p:last-of-type {
  font-weight: lighter;
  word-spacing: 5px;
  color: #69b9ff;
  font-size: 18px;
  margin-top: 0;
  padding-bottom: 20px;
}

.header-bottom .buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 20px;
}

.header-bottom .buttons button:first-of-type {
  padding: 15px 30px;
  background-color: #69b9ff;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 15px;
  margin-right: 10px;
  width: 40%;
}

.header-bottom .buttons button:last-of-type {
  background: none;
  border: 1px solid #fff;
  color: #fff;
  border-radius: 5px;
  font-size: 14px;
  letter-spacing: 2px;
  width: 40%;
}

.section1 {
  text-align: center;
  margin: 80px 0;
}

.section1 .para {
  padding-bottom: 45px;
  font-size: 20px;
  text-transform: uppercase;
}

.section1 h2 {
  font-size: 30px;
  font-weight: 500;
  letter-spacing: 3px;
  word-spacing: 4px;
  color: #707078;
}

.section1 p {
  font-size: 14px;
  padding-bottom: 10px;
  text-transform: lowercase;
  letter-spacing: 1px;
  line-height: 1.5;
  margin: 0;
  color: #6a859c;
}

.service {
  border: 1px solid #d7e3ed;
  border-radius: 5px;
  padding: 40px;
  font-size: small;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.service .rounded {
  border-radius: 50%;
  padding: 20px;
  display: inline-block;
  background-color: #69b9ff;
  width: 50px;
  height: 50px;
  outline: 2px solid #69b9ff;
  outline-offset: 10px;
}

.service h3 {
  font-size: 20px;
  letter-spacing: 5px;
  font-weight: lighter;
  word-spacing: 4px;
  color: #676770;
}

.service img {
  margin: 0 0 20px 0;
}

.section2 {
  background-color: #192024;
  padding: 100px 0;
  color: #fff;
  letter-spacing: 4px;
  text-align: center;
  text-transform: uppercase;
}

.section2 div {
  padding: 0 40px;
}

.section2 p {
  text-transform: lowercase;
  font-size: 14px;
  letter-spacing: normal;
}

.section2 img {
  margin: 50px auto;
  width: 100%;
  margin-bottom: 0;
}

.section2 button {
  margin: 25px 0;
  padding: 18px 46px;
  background: none;
  font-family: "Open Sans", sans-serif;
  text-transform: uppercase;
  letter-spacing: 3px;
  border-radius: 5px;
  border: 1px solid #fff;
  color: #fff;
}

.section2 span {
  text-transform: uppercase;
}

.section3 {
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 5px;
  margin: 80px 0;
}

.section3 .buttons-group {
  padding-bottom: 30px;
}

.section3 h3 {
  color: #676770;
}

.section3 button {
  margin: 25px 0;
  padding: 12px 40px;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 10px;
  border-radius: 5px;
  color: #fff;
  background-color: #92a0ad;
  border: none;
}

.section3 span {
  display: block;
  letter-spacing: 4px;
  color: #8e8e9c;
  padding-bottom: 40px;
}

.section3 p {
  text-transform: uppercase;
  letter-spacing: normal;
  color: #6a859c;
}

.section3 button:first-of-type {
  background-color: #2e80b6;
  margin-bottom: 0;
}

.section3 button:last-of-type {
  margin: 0;
}

.footer-top {
  background-color: #edeff2;
  padding: 35px 0;
}

.footer-top p {
  color: #6a859c;
  line-height: 1.6;
  margin-bottom: 30px;
}

.footer-top h4 {
  letter-spacing: 5px;
  color: #816770;
  text-transform: uppercase;
  font-weight: lighter;
}

.footer-top h4:last-of-type {
  margin-bottom: 0;
  margin-top: 50px;
}

.footer-top .under {
  list-style-type: none;
  padding: 0;
}

.footer-top .under li {
  border-bottom: 1px solid #d5d5e0;
  color: #668cad;
  padding: 10px 0;
  margin-bottom: 6px;
}

.footer-top .social-icons {
  padding: 0;
}

.footer-top .social-icons li {
  display: inline-block;
  color: #91b6d3;
  width: 100%;
}

.footer-top .social-icons li a {
  text-decoration: none;
  display: inline-block;
  border-bottom: 1px solid #d5d5e0;
  width: 80%;
  padding: 5px;
}

.footer-top .social-icons img {
  margin-top: 0;
  width: 16px;
}

.footer-bottom {
  padding: 15px 20px;
  font-weight: 100;
  background-color: #383838;
}

.footer-bottom h4 {
  color: #9e9e9e;
  font-size: 14px;
  letter-spacing: 1px;
  text-transform: capitalize;
  text-align: center;
}
/*# sourceMappingURL=global.css.map */